name: Publish ticket-store-avro

on:
  push:
    branches: [ main ]
    paths:
      - '**/*.java'
      - '**/*.avsc'
      - 'pom.xml'
      - '.github/workflows/publish.yml'
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Debug paths
        run: |
          pwd
          ls -la
          echo "-----"
          find . -maxdepth 3 -type f -name pom.xml -print

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

      - name: Create Maven settings.xml for GitHub Packages
        run: |
          cat > $GITHUB_WORKSPACE/settings.xml <<'XML'
          <settings>
            <servers>
              <server>
                <id>github</id>
                <username>${env.GITHUB_ACTOR}</username>
                <password>${env.GITHUB_TOKEN}</password>
              </server>
            </servers>
          </settings>
          XML

      - name: Build & Deploy ticket-store-avro
        working-directory: .
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: mvn -B -s $GITHUB_WORKSPACE/settings.xml -DskipTests deploy
